In [31]:
import os
import glob
import pandas as pd
import numpy as np 
import datetime 
##os.chdir("/FirstProject")

In [7]:
data = pd.read_csv('covid_concatenated.csv')

In [139]:
### moving CSV file to a df just in case 
df = pd.DataFrame(data)

In [153]:
## New df from the original one to get only the columns that we want 
days_count = pd.DataFrame(data[["CountryName", "StartDate", "EndDate", "PolicyValue"]])

##Adding a new column to the new dataframe with the daydifference between EndDate and StartDate
days_count['DayDiff'] = pd.to_datetime(days_count['EndDate'], format="%Y/%m/%d") - pd.to_datetime(days_count['StartDate'], format="%Y/%m/%d")#.astype(str).astype(int)
#days_count

In [208]:
#crop = {'Month': ['February', 'March', 'April', 'May', 'June', 'July', 'August', 'September'], 
#        'Days': [29, 31, 30, 31, 30, 31, 31, 30]}
#crop_df = pd.DataFrame(crop, columns=['Month', 'Days'])

##march= pd.to_numeric(days_count[[0:3]])* pd.to_numeric(days_count[[0:4]])/ pd.to_numeric(crop_df[[0:1]])
#BRAZIL

feb= (0.0*0.0)/29
march= (1.0*31)/31
april= (1.0*30)/30
may1=(1.0*5)/31
may2=(2.0*26)/31
may_total= may1+may2
june=(2.0*30)/30
july=(2.0*31)/31
august1=(2.0*23)/31
august2=(3.0*7)/31
august3=(2.0*1)/31
august_total= august1+august2+august3
sep=(0.0*0.0)/30

months_brazil = [feb,march, april, may_total, june, july, august_total, sep]

# Had to turn it into a DataFrame because I was running into issues while adding the columng to the next dataframe
month_value = pd.DataFrame(months_brazil)

months= {'CountryName': ['Brazil','Brazil','Brazil','Brazil','Brazil','Brazil','Brazil','Brazil'],
        'Month': ['February', 'March', 'April', 'May', 'June', 'July', 'August', 'September']}
brazil = pd.DataFrame(months, columns=['CountryName', 'Month'])
brazil['PolicyValue'] = month_value

In [209]:
#ITALY

feb_it= (2.0*6)/29
march1_it= (2.0*9)/31
march2_it= (2.0*9)/31
march3_it= (3.0*11)/31
marchtotal_it = march1_it+march2_it+march3_it
april1_it= (3.0*9)/30
april2_it= (2.0*21)/30
apriltotal_it= april1_it+april2_it
may1_it=(2.0*3)/31
may2_it=(2.0*28)/31
maytotal_it= may1_it+may2_it
june1_it=(1.0*26)/30
june2_it=(0.0*4)/30
junetotal_it= june1_it+june2_it
july_it=(0.0*31)/31
august_it=(0.0*31)/31
sep_it=(0.0*0.0)/30

months_italy = [feb_it, marchtotal_it, apriltotal_it, maytotal_it, junetotal_it, july_it, august_it, sep_it]
month_italy_value = pd.DataFrame(months_italy)

months_it= {'CountryName': ['Italy','Italy','Italy','Italy','Italy','Italy','Italy','Italy'],
        'Month': ['February', 'March', 'April', 'May', 'June', 'July', 'August', 'September']}
italy = pd.DataFrame(months_it, columns=['CountryName', 'Month'])
italy['PolicyValue'] = month_italy_value

In [210]:
#SINGAPORE

feb_sing= (0.0*29)/29
march_sing= (0.0*31)/31
april_sing= (1.0*4)/30
april_sing2= (2.0*22)/30
apriltotal_sing= april_sing+april_sing2
may_sing= (2.0*31)/31
jun_sing= (2.0*18)/30
jun_sing2= (1.0*12)/30
juntotal_sing= jun_sing+jun_sing2
jul_sing= (0.0*31)/31
aug_sing= (0.0*31)/31
sep_sing= (0.0*30)/30

months_singapore = [feb_sing, march_sing, apriltotal_sing, may_sing, juntotal_sing, jul_sing, aug_sing, sep_sing]
month_sing_value = pd.DataFrame(months_singapore)

months_sing= {'CountryName': ['Singapore','Singapore','Singapore','Singapore','Singapore','Singapore','Singapore','Singapore'],
        'Month': ['February', 'March', 'April', 'May', 'June', 'July', 'August', 'September']}
singapore = pd.DataFrame(months_sing, columns=['CountryName', 'Month'])
singapore['PolicyValue'] = month_sing_value

In [211]:
#SOUTH AFRICA

feb_sa= (0.0*29)/29
march_sa= (2.0*5)/31
april_sa=(2.0*30)/30
may_sa= (2.0*31)/31
jun_sa= (1.0*30)/30
jul_sa= (1.0*11)/31
jul_sa2= (2.0*19)/31
jultotal_sa= jul_sa+jul_sa2
aug_sa= (0.0*31)/31
sep_sa= (0.0*30)/30

months_safa = [feb_sa, march_sa, april_sa, may_sa, jun_sa, jultotal_sa, aug_sa, sep_sa]
month_safa_value = pd.DataFrame(months_safa)

months_sa= {'CountryName': ['South Africa','South Africa','South Africa','South Africa','South Africa','South Africa','South Africa','South Africa'],
        'Month': ['February', 'March', 'April', 'May', 'June', 'July', 'August', 'September']}
safa = pd.DataFrame(months_sa, columns=['CountryName', 'Month'])
safa['PolicyValue'] = month_safa_value

In [212]:
#USA

feb_usa= (0.0*29)/29
march_usa= (2.0*16)/31
april_usa= (2.0*30)/30
may_usa= (2.0*31)/31
jun_usa= (2.0*30)/30
jul_usa= (2.0*19)/31
jul_usa2= (1.0*12)/31
jultotal_usa= jul_usa+jul_usa2
aug_usa= (1.0*31)/31
sep_usa= (1.0*11)/30
sep_usa2= (1.0*19)/30
septotal_usa= sep_usa+sep_usa2

months_usa = [feb_usa, march_usa, april_usa, may_usa, jun_usa, jultotal_usa, aug_usa, septotal_usa]
month_usa_value = pd.DataFrame(months_usa)

months_us= {'CountryName': ['USA','USA','USA','USA','USA','USA','USA','USA'],
        'Month': ['February', 'March', 'April', 'May', 'June', 'July', 'August', 'September']}
usa = pd.DataFrame(months_us, columns=['CountryName', 'Month'])
usa['PolicyValue'] = month_usa_value

In [213]:
prep = pd.concat([brazil, italy, singapore, safa, usa])
prep_df = pd.DataFrame(prep)
#prep_df.reset_index()
#prep_df.reindex(index=range(1,41))

prep_df.index = range(len(prep_df))
prep_df

     CountryName      Month  PolicyValue
0         Brazil   February     0.000000
1         Brazil      March     1.000000
2         Brazil      April     1.000000
3         Brazil        May     1.838710
4         Brazil       June     2.000000
5         Brazil       July     2.000000
6         Brazil     August     2.225806
7         Brazil  September     0.000000
8          Italy   February     0.413793
9          Italy      March     2.225806
10         Italy      April     2.300000
11         Italy        May     2.000000
12         Italy       June     0.866667
13         Italy       July     0.000000
14         Italy     August     0.000000
15         Italy  September     0.000000
16     Singapore   February     0.000000
17     Singapore      March     0.000000
18     Singapore      April     1.600000
19     Singapore        May     2.000000
20     Singapore       June     1.600000
21     Singapore       July     0.000000
22     Singapore     August     0.000000
23     Singapore  September     0.000000
24  South Africa   February     0.000000
25  South Africa      March     0.322581
26  South Africa      April     2.000000
27  South Africa        May     2.000000
28  South Africa       June     1.000000
29  South Africa       July     1.580645
30  South Africa     August     0.000000
31  South Africa  September     0.000000
32           USA   February     0.000000
33           USA      March     1.032258
34           USA      April     2.000000
35           USA        May     2.000000
36           USA       June     2.000000
37           USA       July     1.612903
38           USA     August     1.000000
39           USA  September     1.000000