In [ ]:
# * First work on Kate's file to get day difference between start date and end date of policy,
#   multilied by the policy value

In [31]:
import os
import glob
import pandas as pd
import numpy as np 
import datetime 
##os.chdir("/FirstProject")

In [3]:
#def my_fun(df1, df2, ):
   # df3 = pd.join(df1, df2, on_column='Country')
   # return df3.country

In [4]:
#def my_fun(df1, df2, data):
   # df3 = pd.join(df1, df2, on_column='Country')
    #return df3.data

In [7]:
data = pd.read_csv('covid_concatenated.csv')

In [85]:
### moving CSV file to a df just in case 
df = pd.DataFrame(data)
df

,Unnamed: 0,CountryName,CountryCode,StartDate,EndDate,PolicyType,PolicyValue,Flag,InitialNote
0,695,Brazil,BRA,2020-03-13,2020-05-04,C6: Stay at home requirements,1.0,0.0,Ministry of Health recommends that in areas wi...
1,708,Brazil,BRA,2020-05-05,2020-08-23,C6: Stay at home requirements,2.0,0.0,"First major city in Brazil (Sao Luis, the capi..."
2,713,Brazil,BRA,2020-08-24,2020-08-30,C6: Stay at home requirements,3.0,0.0,Sao Felix do Araguaia (MT) imposed a 7 days lo...
3,715,Brazil,BRA,2020-08-31,NaN,C6: Stay at home requirements,2.0,0.0,In Teresina the city government determined loc...
4,2693,Italy,ITA,2020-02-23,2020-03-09,C6: Stay at home requirements,2.0,0.0,https://web.archive.org/web/20200409225704/htt...
5,2699,Italy,ITA,2020-03-10,2020-03-19,C6: Stay at home requirements,2.0,1.0,Nationwide Lockdown - everyone expected to sta...
6,2705,Italy,ITA,2020-03-20,2020-04-09,C6: Stay at home requirements,3.0,1.0,Stricter lockdown rules are introduced - exerc...
7,2707,Italy,ITA,2020-04-10,2020-05-03,C6: Stay at home requirements,2.0,1.0,Lockdown measures are relaxed slightly https:...
8,2711,Italy,ITA,2020-05-04,2020-07-26,C6: Stay at home requirements,1.0,1.0,"""A new government decree comes into force from..."
9,2725,Italy,ITA,2020-07-27,NaN,C6: Stay at home requirements,0.0,NaN,No current instruction to remain home. Exercis...
10,4683,Singapore,SGP,2020-04-03,2020-04-07,C6: Stay at home requirements,1.0,1.0,"PM Lee Hsien Loong asks all residents to ""stay..."
11,4688,Singapore,SGP,2020-04-08,2020-06-18,C6: Stay at home requirements,2.0,1.0,comes into force on 8 April 2020. (2) Subject ...
12,4698,Singapore,SGP,2020-06-19,NaN,C6: Stay at home requirements,1.0,1.0,People are encouraged to work from home wherev...
13,5798,South Africa,ZAF,2020-03-26,2020-05-31,C6: Stay at home requirements,2.0,1.0,"""From midnight on Thursday, March 26 until mid..."
14,5806,South Africa,ZAF,2020-06-01,2020-07-11,C6: Stay at home requirements,1.0,1.0,Level 3 started at Jun 1st. While people are a...
15,5808,South Africa,ZAF,2020-07-12,NaN,C6: Stay at home requirements,2.0,1.0,"On July 12th, amidst rising COVID cases, Presi..."
16,5597,United States,USA,2020-03-15,2020-07-19,C6: Stay at home requirements,2.0,0.0,First stay at home orders on March 15th in Pue...
17,5606,United States,USA,2020-07-20,2020-09-11,C6: Stay at home requirements,1.0,1.0,"From CA sub-national coding: ""The governmen..."
18,5608,United States,USA,2020-09-12,NaN,C6: Stay at home requirements,1.0,0.0,No evidence of stay-at-home requirements in ef...

In [78]:
## New df from the original one to get only the columns that we want 
days_count = pd.DataFrame(data[["CountryName", "StartDate", "EndDate", "PolicyValue"]])

##Adding a new column to the new dataframe with the daydifference between EndDate and StartDate
days_count['DayDiff'] = pd.to_datetime(days_count['EndDate'], format="%Y/%m/%d") - pd.to_datetime(days_count['StartDate'], format="%Y/%m/%d")#.astype(str).astype(int)
days_count

#data[['EndDate']].astype(str).astype(int)

##mdate1 = datetime.datetime.strptime(df.one, "%Y-%m-%d").date()
##mdate2 = datetime.datetime.strptime(df.two, "%Y-%m-%d").date()

#days_count = pd.DataFrame(data[["StartDate", "EndDate"]])

#days_count['StartDate'] = pd.to_datetime(days_count['StartDate'])
#days_count['EndDate'] = pd.to_datetime(days_count['EndDate'])

#days_count[['StartDate']].astype(str).astype(int)
#days_count[['EndDate']].astype(str).astype(int)

#df.one = days_count[['StartDate']]
#df.two = days_count[['EndDate']]


#difference = (df.two - df.one)
#print(days_count)
#help(datetime.timedelta)

      CountryName   StartDate     EndDate  PolicyValue  DayDiff
0          Brazil  2020-03-13  2020-05-04          1.0  52 days
1          Brazil  2020-05-05  2020-08-23          2.0 110 days
2          Brazil  2020-08-24  2020-08-30          3.0   6 days
3          Brazil  2020-08-31         NaN          2.0      NaT
4           Italy  2020-02-23  2020-03-09          2.0  15 days
5           Italy  2020-03-10  2020-03-19          2.0   9 days
6           Italy  2020-03-20  2020-04-09          3.0  20 days
7           Italy  2020-04-10  2020-05-03          2.0  23 days
8           Italy  2020-05-04  2020-07-26          1.0  83 days
9           Italy  2020-07-27         NaN          0.0      NaT
10      Singapore  2020-04-03  2020-04-07          1.0   4 days
11      Singapore  2020-04-08  2020-06-18          2.0  71 days
12      Singapore  2020-06-19         NaN          1.0      NaT
13   South Africa  2020-03-26  2020-05-31          2.0  66 days
14   South Africa  2020-06-01  2020-07-11          1.0  40 days
15   South Africa  2020-07-12         NaN          2.0      NaT
16  United States  2020-03-15  2020-07-19          2.0 126 days
17  United States  2020-07-20  2020-09-11          1.0  53 days
18  United States  2020-09-12         NaN          1.0      NaT

In [91]:
crop = {'Month': ['February', 'March', 'April', 'May', 'June', 'July', 'August', 'September'], 
        'Days': [29, 31, 30, 31, 30, 31, 31, 30], 'PolicyValue': [1.0, 1.0, ]}
crop_df = pd.DataFrame(crop, columns=['Month', 'Days', 'PolicyValue', 'Value'])

       Month  Days PolicyValue Value
0   February    29         NaN   NaN
1      March    31         NaN   NaN
2      April    30         NaN   NaN
3        May    31         NaN   NaN
4       June    30         NaN   NaN
5       July    31         NaN   NaN
6     August    31         NaN   NaN
7  September    30         NaN   NaN

In [88]:
### month, days in the month, policy value, value 



months= {'CountryName': ['Brazil','Brazil','Brazil','Brazil','Brazil','Brazil','Brazil','Brazil'],
        'Month': ['February', 'March', 'April', 'May', 'June', 'July', 'August', 'September']}
brazil = pd.DataFrame(months, columns=['CountryName', 'Month', 'Value'])
brazil

  CountryName      Month Value
0      Brazil   February   NaN
1      Brazil      March   NaN
2      Brazil      April   NaN
3      Brazil        May   NaN
4      Brazil       June   NaN
5      Brazil       July   NaN
6      Brazil     August   NaN
7      Brazil  September   NaN

StartDate               object
EndDate                 object
PolicyValue            float64
DayDiff        timedelta64[ns]
dtype: object